<ul class='hotels-summary-list'>
	<li ng-repeat='hotel in hotels'>
		<div class="media hotel-summary">
			<a ui-sref='hotelDetail({ id : hotel.EstablishmentId })' class="img">
				<img ng-src='{{hotel.ThumbnailUrl}}' alt='{{  hotel.Name }}'>
			</a>
			<div class="bd">
				<h3><a ui-sref='hotelDetail({ id : hotel.EstablishmentId })'>{{  hotel.Name }}, {{ hotel.artist }}</a></h3>
				<div class='rating'>
					<ul class='stars'>
						<li ng-repeat='star in getStars(hotel.Stars)'></li>
					</ul>
					<div class='add-info'>catalog number : {{  hotel.catalogNumber }} | price : {{  hotel.minCost | currency : '£' }}
				</div>
			</div>
		</div>
	</li>
</ul>
