.banner {
	padding : 20px 12px;
}

.banner .logo {
	display : inline-block;
	vertical-align : middle;
	text-decoration : none;
}
.banner .logo h1 {
	font-family : Bangers;
	margin : 0;
	font-size : 3em;
}
.the {
	color : orange;
}
.soulful {
	color : red;
}
.shack {
	color : brown;
}