
/* banner links section */
.banner-links {
	padding : 12px;
	text-align : right;
	border-bottom : solid 1px green;
}

.banner-links span, .banner-links a {
	display : inline-block;
}

.banner-links a {
	text-decoration : none;
	margin-right : 2px;
}

.banner-link svg {
	vertical-align : middle;
}
.banner-link {
	line-height : 25px;
}

a.banner-link {
	color : black;
	background : orange;
	padding : 6px 12px;
	border-radius : 10px;
}

a.banner-link svg{
	fill : black;
}

a.banner-link:hover {
	color : orange;
	background : black;
}
a.banner-link:hover svg {
	fill : orange;
}

a.checkout-link {
	background : lightblue;
	color : white;

}
a.checkout-link svg {
	fill : white;
}
