h2 {
	margin : 0;
	padding : 12px 0;
	margin-bottom : 12px;
	font-size : 30px;

}

h3 {
	margin: 0;
	margin-bottom : 12px;
	padding : 12px 0;
	font-size : 20px;
	font-family : Helvetica;
}
.container {
	width : 900px;
	margin : auto;
	box-shadow : 0 0 9px 2px hsla(0, 0%, 49%, 0.4);
}

.main {
	overflow : hidden;
	background : orange;
}

.flash-message {
	font-family : Ubuntu;
}

