.order {
	padding: 12px;
}

.order-list {
	margin-bottom: 24px;
}

.order-item {
	display: block;
	padding: 12px;
	border: solid 1px black;
	margin-bottom: 12px;
}

.order-item img {
	float: left;
	margin-right: 12px;
}

.order-item .order-info {
	float: left;
	padding: 12px;
}

.order-item .order-price {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 12px;
}

.order-summary {
	font-family: Ubuntu;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding: 24px 0;
	font-size: 40px;
}

.checkout-button-container {
	padding: 24px 0;
	float: right;
	font-size: 30px;
}

.checkout-button-container button {
	padding: 12px 24px;
}
